body {
    color: red;
    text-align: left;
    font-family: "Arial Narrow";
  }
  
  #cabecera {
    background: #3333aa;
    color: white;
    margin: 0;
    padding: 0.5em;
  }
  
  #container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1 px solid #dddddd;
    margin: 0 auto;
    height: 100%;
    position: relative;
  }
  
  container h1 {
    font-size: 20 px;
  }
  
  /* #post; */
  